@use "../sass/variable_mixin/mixins.scss" as mixins;
@use "../sass/variable_mixin/variables.scss" as variables;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 190px;

    @media (max-width: 768px) {
        margin: 0px 20px;
    }

    .containerCollapse {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .collapse {
        width: 100%;
    }

    .collapseHeader {
        border-radius: 10px;
        display: flex;
        max-width: 1023px;
        padding: 10px 20px 10px 15px;
        background: var(--Red, #ff6060);
        justify-content: space-between;
        align-items: center;
        @include mixins.montserrat-style(700);
        color: white;
        font-size: 18px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .collapseHeader .arrow {
        transition: transform 0.3s ease;
    }

    .collapseHeader .arrow.open {
        transform: rotate(-180deg);
    }

    .collapseContent {
        @include mixins.montserrat-style(400);
        padding: 20px;
        border: none;
        border-radius: 4px;
        background-color: #f9f9f9;
        margin-top: -20px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
}